{% set pageName = 'Digi blocks' %}
{% extends "layouts/demo-layout.njk" %}

{% block heading %}
  <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>
{% endblock %}

{% block content %}
  <div class="demo-container demo-container--controls">
    <div class="form-controls">
      <div class="form-control">
        <label for="fineness">Fineness</label>
        <input type="range" min="0" max="1" id="fineness" step="0.01">
      </div>
      <div class="form-control">
        <label for="widthUnits">Width units</label>
        <input type="range" min="1" max="20" id="widthUnits" step="1">
      </div>
      <div class="form-control">
        <label for="heightUnits">Height units</label>
        <input type="range" min="1" max="20" id="heightUnits" step="1">
      </div>
      <div class="form-control">
        <label for="depthUnits">Depth units</label>
        <input type="range" min="1" max="20" id="depthUnits" step="1">
      </div>
      <hr>
      <div class="form-control">
        <label for="zoom">Zoom</label>
        <input type="range" min="200" max="4000" id="zoom" step="50">
      </div>
      <div class="form-control">
        <label for="colour">Colour</label>
        <select id="colour"></select>
      </div>
      <hr>
      <button class="nhsuk-button nhsuk-u-margin-0" id="saveButton">Save SVG</button>
      <hr>
      <button class="nhsuk-button nhsuk-button--secondary" id="exportButton">Export data</button>
      <button class="nhsuk-button nhsuk-button--secondary" id="importButton">Import data</button>
      <a href="#" id="fileDownloadTrigger" class="visually-hidden">Trigger data file download</a>
      <input type="file" id="fileUploadTrigger" accept=".json" class="visually-hidden">
    </div>
  </div>
  <div class="demo-container demo-container--viewbox">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 200 200"
      preserveAspectRatio="xMidYMid meet"
      aria-hidden="true"
      focusable="false"
      id="db-stage"></svg>
  </div>
{% endblock %}
