.demo-wrapper {
  position: absolute;
  display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  // justify-content: flex-start;
  // align-content: flex-start;
  // align-items: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.demo-container {
  align-self: stretch;
  position: relative;

  &--controls {
    min-width: 30vw;
    order: 0;
    flex: 0 1 auto;
    background: rgba(0, 0, 0, .03);
    border-right: 21px solid rgba(0, 0, 0, .1);
  }

  &--viewbox {
    order: 1;
    flex: 1 1 auto;
  }
}

#db-stage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.form-controls {
  padding: 2rem;
}

.form-control {
  @extend .clearfix;
  margin-bottom: .5rem;

  label {
    float: left;
  }

  input,
  select {
    float: right;
    min-width: 130px;
  }
}
