// Digi blocks in different colour variations
.db {
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  position: absolute;

  &-stage {
    position: relative;
    display: block;
  }

  &-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--black {
    polygon {
      &:nth-child(1) {
        fill: #000305;
      }

      &:nth-child(2) {
        fill: #0C0C0C;
      }

      &:nth-child(3) {
        fill: #191718;
      }
    }
  }

  &--yellow {
    polygon {
      &:nth-child(1) {
        fill: #EEC000;
      }

      &:nth-child(2) {
        fill: #F2CB0C;
      }

      &:nth-child(3) {
        fill: #F5D507;
      }
    }
  }

  &--blue {
    polygon {
      &:nth-child(1) {
        fill: #0050B5;
      }

      &:nth-child(2) {
        fill: #005ABE;
      }

      &:nth-child(3) {
        fill: #0062CC;
      }
    }
  }

  &--dark-blue {
    polygon {
      &:nth-child(1) {
        fill: #001766;
      }

      &:nth-child(2) {
        fill: #001F75;
      }

      &:nth-child(3) {
        fill: #00267A;
      }
    }
  }

  &--light-blue {
    polygon {
      &:nth-child(1) {
        fill: #A6C7E6;
      }

      &:nth-child(2) {
        fill: #B2CFEA;
      }

      &:nth-child(3) {
        fill: #BFD7ED;
      }
    }
  }

  &--dark-grey {
    polygon {
      &:nth-child(1) {
        fill: #313D45;
      }

      &:nth-child(2) {
        fill: #32434C;
      }

      &:nth-child(3) {
        fill: #3C4D57;
      }
    }
  }

  &--grey {
    polygon {
      &:nth-child(1) {
        fill: #5C6B75;
      }

      &:nth-child(2) {
        fill: #62717A;
      }

      &:nth-child(3) {
        fill: #6D7B86;
      }
    }
  }

  &--light-grey {
    polygon {
      &:nth-child(1) {
        fill: #C5CDCF;
      }

      &:nth-child(2) {
        fill: #CDD5D6;
      }

      &:nth-child(3) {
        fill: #DADFDF;
      }
    }
  }

  &--white {
    polygon {
      &:nth-child(1) {
        fill: #EFF2F1;
      }

      &:nth-child(2) {
        fill: #F5F5F4;
      }

      &:nth-child(3) {
        fill: #FBFAFA;
      }
    }
  }
}
